<section>
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24">
    <div>
      <p
        class="text-4xl tracking-tight font-medium text-black md:text-5xl font-display"
      >
          About this podcast
      </p>
    </div>
    <div class="tracking-tight text-lg font-medium text-gray-600 font-display">
      <p class="mt-4">
        I've always wanted to expand my vocabulary, and for years I relied on spaced repetition
        flashcards like 
        <a href="https://apps.ankiweb.net/" class="underline hover:text-accent-900">Anki</a>
        to learn new words. However, I encountered two challenges. First, I'd use them consistently
        for a while, then lose the habit and have to restart. Second, while I could recall the words
        while studying, I never truly incorporated them into my everyday speech.
      </p>

      <p class="mt-4">
        Then I discovered 
        <a href="https://flashcasts.com/" class="underline hover:text-accent-900">flashcasts</a>.
        a project that brilliantly combines the concepts of
        flashcards and podcasts. The website generates new podcast episodes on a chosen topic.
        Each episode introduces a concept, pauses to allow you to define it yourself, and then
        explains the meaning.
      </p>

      <p class="mt-4">
        As an avid podcast listener, this approach is perfect for me. It leverages my existing habit
        of listening to podcasts and keeps me engaged by delivering new vocabulary directly to my
        player. However, simply hearing definitions wouldn't address my second challenge: actively
        using the new words.
      </p>

      <p class="mt-4">
        To bridge this gap, Vocab Story Time offers a separate episode that weaves the words into a
        short story. This approach reinforces memorization and demonstrates how the words function
        in real-world contexts. New episodes are released weekly, with potential for additional
        story-based episodes throughout the week for further exposure.
      </p>
    </div>
  </div>
</section>

