<section id="about" class="bg-accent-50">
  <div
    class="mx-auto w-3/5 lg:px-24 max-w-7xl md:px-12 px-8 py-24"
  >

    <div>
      <p
        class="text-4xl tracking-tight font-medium text-black md:text-5xl font-display"
      >
      About this podcast
      </p>
    </div>
    <div class="tracking-tight text-lg font-medium text-gray-600 font-display">
      <p class="mt-4">
        I've always wanted to expand my vocabulary, and for years I relied on spaced repetition
        flashcards like 
        <a href="https://apps.ankiweb.net/" class="underline hover:text-accent-900">Anki</a>
        to learn new words. However, I encountered two challenges. First, I'd use them consistently
        for a while, then lose the habit and have to restart. Second, while I could recall the words
        while studying, I never truly incorporated them into my everyday speech.
      </p>

      <p class="mt-4 text-2xl">
        <a href="about" class="underline hover:text-accent-900">
          [Continue Reading]
        </a>
      </p>
    </div>
  </div>
</section>
