<section id="about" class="bg-accent-50">
  <div class="mx-auto md:-3/5 lg:px-24 max-w-7xl md:px-12 px-8 py-24">
    <div>
      <p
        class="text-4xl tracking-tight font-medium text-black md:text-5xl font-display"
      >
        About this podcast
      </p>
    </div>
    <div class="tracking-tight text-lg font-medium text-gray-600 font-display">
      <p class="mt-4">
        I've always wanted to expand my vocabulary, and for years I relied on
        spaced repetition flashcards like
        <a
          href="https://apps.ankiweb.net/"
          class="underline hover:text-accent-900">Anki</a
        >
        to learn new words. However, I encountered two challenges. First, I'd use
        them consistently for a while, then lose the habit and have to restart. Second,
        while I could recall the words while studying,
        <span class="text-opacity-80 text-gray-600">I never</span>
        <span class="text-opacity-60 text-gray-600"
          >truly<span>
            <span class="text-opacity-50 text-gray-600">incorporated</span>
            <span class="text-opacity-40 text-gray-600"
              >them into<span>
                <span class="text-opacity-30 text-gray-600"
                  >my everyday
                  <span class="text-opacity-20 text-gray-600"
                    >speech&hellip;</span
                  >
                </span>
                <p class="mt-4 text-xl">
                  <a
                    href="about"
                    class="text-opacity-70 underline hover:text-accent-900"
                  >
                    [Continue Reading]
                  </a>
                </p>
              </span>
            </span>
          </span>
        </span>
      </p>
    </div>
  </div>
</section>
