<section class="bg-zinc-100 2xl:max-w-7xl mx-auto" aria-labelledby="pricing-section" id="pricing">
  <div class="items-center px-8 lg:pt-12 pb-24 mx-auto max-w-7xl lg:px-16">
    <ul
      role="list"
      class="flex flex-col order-last mt-10 text-sm text-gray-600 gap-y-3"
    >
      <li class="flex items-center">
        <ion-icon
          class="w-4 h-4 md hydrated"
          name="cube-outline"
          role="img"
          aria-label="checkmark outline"></ion-icon><span class="ml-4">
          This template</span
        >
      </li>
      <li class="flex items-center">
        <ion-icon
          class="w-4 h-4 md hydrated"
          name="cube-outline"
          role="img"
          aria-label="checkmark outline"></ion-icon><span class="ml-4"
          >Gemini</span
        >
      </li>
      <li class="flex items-center">
        <ion-icon
          class="w-4 h-4 md hydrated"
          name="cube-outline"
          role="img"
          aria-label="checkmark outline"></ion-icon><span class="ml-4"
          >Micrsoft Speech AI</span
        >
      </li>
      <li class="flex items-center">
        <ion-icon
          class="w-4 h-4 md hydrated"
          name="cube-outline"
          role="img"
          aria-label="checkmark outline"></ion-icon><span class="ml-4"
          >https://www.tints.dev/</span
        >
      </li>
    </ul>
  </div>
</section>
