<footer>
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24"
  >
    <div class="grid grid-cols-1 md:grid-cols-4 items-start gap-x-8 gap-y-24">
      <a href="/" class="relative -top-5">
        <img alt="logo" src="/logo.svg" />
      </a>
      <div class="text-sm text-gray-400">
        <h3 class="text-lg text-black font-medium tracking-tight">All pages</h3>
        <ul role="list" class="mt-4 space-y-1">
          <li>
            <a href="/" class="hover:text-black"> Home</a>
          </li>
          <li>
            <a href="/#about" class="hover:text-black"> About</a>
          </li>
          <li>
            <a href="/episodes" class="hover:text-black"> Episodes</a>
          </li>
        </ul>
      </div>
      <div class="text-sm text-gray-400">
        <h3 class="text-lg text-black font-medium tracking-tight">
          Built with
        </h3>
        <ul role="list" class="mt-4 space-y-1">
          <li>
            <a
              href="https://github.com/michael-andreuzza/astrosaas"
              class="hover:text-black"
            >
              Website template
            </a>
          </li>
          <li>
            <a href="https://www.tints.dev/" class="hover:text-black">
              Palette generator
            </a>
          </li>
          <li>
            <a
              href="https://deepmind.google/technologies/gemini/"
              class="hover:text-black"
            >
              Gemini
            </a>
          </li>
          <li>
            <a
              href="https://learn.microsoft.com/en-us/azure/ai-services/speech-service"
              class="hover:text-black"
            >
              Azure AI Services
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<footer class="bg-white">
  <div class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 text-center px-8 py-6">
    <div class="border-t pt-6">&copy; 2024 Christopher Lopes</div>
  </div>
</footer>
